<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/non-responsive.css" rel="stylesheet"/>

    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>

    <link href="/css/font-awesome.min.css" rel="stylesheet"/>

    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>


<p><span th:text="${username}"> </span></p>


<span>just submitted your form:</span>

<span th:text="${siteName}"></span>
<br>

<br>

<h2>Message Details:
</h2>

<span th:text="${contactName}"></span> 
<br>

<span th:text="${contactPhone}"></span> 
<br>

<span th:text="${contactEmail}"></span> 
<br>

<span th:text="${contactSub}"></span> 
<br>

<span th:text="${contactMsg}"></span> 



</body>
</html>