<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/non-responsive.css" rel="stylesheet"/>

    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>

    <link href="/css/font-awesome.min.css" rel="stylesheet"/>

    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<p>Hi,</p>
<span th:text="${username}"></span>

<br>

<br>

<label th:text="'You are just a step away from accessing your'+' '+ ${clientAddress.storeName}+' '+'account'"></label>

<p>We are sharing a verification code to access your account.</p>

<br>


<label>Your Code is : <span style="font-weight: bold;" th:text="${url}"></span></label>


<br/>

<p>Best Regards,</p>
<p th:text="${clientAddress.storeName}"></p>
</body>
</html>